body{
    text-align: left;
    font-size: 20px;
    background-image: url("../img/two_pencils.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3{
    color: #2AA8E0;
    text-shadow: 0px 0px 1px;
}
.bio{
    display: flex;
    margin-left: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding: 100px;
    justify-content: space-between;
    gap: 20px;
}

.container{
    padding: 10px;
    border-radius: 20px;
    border: 8px solid lightskyblue;
    background-color: whitesmoke;
}


img{
    border: 8px solid lightcoral;
    border-radius: 20px;
}
