body {
    background-image: url(/Users/nethaniamarc/Downloads/crayons.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
    margin: 50px;
    font: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    margin: 50px;
}

/* Add a background color to the top navigation */
.topnav {
    color: #9C27B0;
    overflow: hidden;
    border: 1px solid gray;
    background-color: white;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    color: #9C27B0;
    text-align: center;
    padding: 24px 75px;
    text-decoration: none;
    font-size: 25px;
}