body {
    background-image: url("../img/paper_boat.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    align-content: center;
    font-size: 20px;

}

h1{
    font-size: 80px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
}

h3{
    font-family: "Rubik", sans-serif;
    color: #363737;
}

#info{
  border: 3px solid none;
  box-shadow: 0px 0px 2px;
  border-radius: 25px;
  background-color: white;
  text-align: left;
  width: 700px;
  margin: auto;
  padding: 10px 30px;

}


#visit{    
    margin-top: 120px;
    color: white;
    border: 1px solid none;
    border-radius: 10px;
    text-align: center;
    text-shadow: 1px 0px 1px grey;
    font-weight: bold;
}
