body{
    background-image: url("../img/cp_diagonal.jpg");
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#dates{
    width: 250px;
}

h1{
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
}

h3{
   margin-bottom: 0px;
}
