body{
    margin: 20px;
    background-image: url(/Users/nethaniamarc/Downloads/tamanna-rumee-8yd0NDi1SHY-unsplash.jpg);
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    border: 1px solid darkblue;
    border-radius: 5px;
    width: 500px;
    padding: 10px;
    background-color: lightblue;
}

/* Add a background color to the top navigation */
.topnav {
    color: #9C27B0;
     overflow: hidden;
   }

/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    color: #9C27B0;
    text-align: center;
    padding: 24px 75px;
    text-decoration: none;
    font-size: 25px;
  }